<!--Base de Busat-->
{%load static%}
<!DOCTYPE html>
<html>
<head>
	{%block title%}Sistema de Informacion{%endblock%}
	{%include "base/header.html"%}
</head>
<body>
	{%include "base/navbar.html"%}
	<div class="wrapper b-wrapper bs-bg-grey-dark">
        <div class="container-fluid">
			{%block content%}
			
			{%endblock%}
		</div>
	</div>
</body>
</html>
<!--Base de Busat-->