{%extends 'base/base.html'%}
{%block content%}
<div class="row">   
    <div class="col-5 mx-auto">
        <div class="card-box">
            <div class="title text-center pt-3">
                <h3 class="m-t-0 header-title">Crear Ruta</h3>
            </div>
            <hr class="col-4 mx-auto">
            <!--Card content-->
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="card-body pt-0">
                        <!-- Form -->
                        <form class="b-form" class="text-center" style="color: #757575;">
                            <div class="row b-content-form">
                                <!-- Nombre -->
                                <div class="md-form col-12">
                                    <input type="text" id="materialLoginFormEmail" class="form-control pb-1 text-uppercase">
                                    <label class="pl-2" for="materialLoginFormEmail">Nombre</label>
                                </div>

                                <!-- Imei -->
                                <div class="md-form col-6">
                                    <input type="text" id="materialLoginFormPassword" class="form-control pb-1">
                                    <label class="pl-2" for="materialLoginFormPassword">Imei</label>
                                </div>

                                <!-- Clave -->
                                <div class="md-form col-6">
                                    <input type="text" id="materialLoginFormPassword" class="form-control pb-1">
                                    <label class="pl-2" for="materialLoginFormPassword">Clave</label>
                                </div>

                                <div class="col-12 text-center px-0">
                                    <a class="btn btn-outline-danger waves-effect btn-rounded px-5" href="">Cancelar</a>
                                    <button class="btn btn-outline-info waves-effect btn-rounded px-5" type="submit">Sign in</button>
                                </div>
                            </div>

                        </form>
                        <!-- Form -->
                     </div>
                </div>
            </div>
        </div>    

        

    </div>
</div>
{% endblock %}