{%load static%}
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                2019 © BUSAT - All right reserved - Soluciones Inmediatas
                <a href="{%url 'politivas_de_privacidad' %}">Politicas de privacidad</a>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery  -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Required datatable js -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Switchery -->
<script src="{% static 'plugins/switchery/switchery.min.js' %}"></script>

<!-- Modal-Effect -->
<script src="{% static 'plugins/custombox/dist/custombox.min.js' %}"></script>
<script src="{% static 'plugins/custombox/dist/legacy.min.js' %}"></script>

<!-- App js -->
<script src="{% static 'js/jquery.core.js' %}"></script>
<script src="{% static 'js/jquery.app.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function() {

        // Default Datatable
        $('#datatable').DataTable();

        table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    } );

</script>
<script type="text/javascript">
    $(document).ready(function() {

        // Default Datatable
        $('#datatable').DataTable();

        table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    } );

</script>
<script type="text/javascript">
    function pk_modelo(caja, venta, pk, cuota){
        document.getElementById("cajita").value = caja;
        document.getElementById("id_venta").value = venta;
        $("#venta_info").html(`<ul>
                                    <li>Saldo: ${pk}</li>
                                    <li>cuota: ${cuota}</li>
                                </ul>`);
    }
</script>
<script type="text/javascript">
		
	$( ".motivo" ).change(function() {
		console.log($('#id_tipo_pago option:selected').text())
  		if ($('#id_tipo_pago option:selected').text() == 'DINERO'){
			$('#motivo_taps').attr('style','display:none');
            document.getElementById("id_valor").removeAttribute("readonly");
			$('#id_motivo').val() = "";
		}else{
			document.getElementById("motivo_taps").removeAttribute("style");
            $('#id_valor').attr('readonly','');
		}
	});
</script>
<script type="text/javascript">
    $(document).ready(function(){
    $('#motivo').attr('style','display:none');
})
</script>
<!-- End Footer -->