<!--HEADER-->
{%load static%}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
<meta content="Coderthemes" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="{%static 'images/favicon.ico' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link rel="shortcut icon" href="assets/images/favicon.ico">
        <!-- Modals UI -->
<link href="{%static 'plugins/custombox/dist/custombox.min.css' %}" rel="stylesheet">

<!-- Switchery -->
<link href="{%static 'plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
<link href="{%static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

<!-- DataTables -->
<link href="{%static 'plugins/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App css -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/busat-style.css' %}" rel="stylesheet" type="text/css" />
<!-- Material Design Bootstrap 
  <link href="{% static 'css/mdb.css' %}" rel="stylesheet"> -->

<script src="{% static 'js/modernizr.min.js'%}"></script>
<!--HEADER-->