{%load static%}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>

<script src="{% static 'plugins/switchery/switchery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/multiselect/js/jquery.multi-select.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery-quicksearch/jquery.quicksearch.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/bootstrap-inputmask/bootstrap-inputmask.min.js' %}" type="text/javascript"></script>

<!-- Required datatable js -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Modal-Effect -->
<script src="{% static 'plugins/custombox/dist/custombox.min.js' %}"></script>
<script src="{% static 'plugins/custombox/dist/legacy.min.js' %}"></script>

<!-- App js -->
<script src="{% static 'js/jquery.core.js' %}"></script>
<script src="{% static 'js/jquery.app.js' %}"></script>

<!-- MDB core JavaScript 
<script type="text/javascript" src="{% static 'js/mdb.js' %}"></script> -->

<script type="text/javascript">
    $(document).ready(function() {

        // Default Datatable
        $('#datatable').DataTable();

        table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    } );
</script>

<script>
	$(document).ready(function() {
 		$('.mdb-select').materialSelect();
	});
</script>
<script type="text/javascript">
    function pk_modelo(caja, venta){

        document.getElementById("id_caja").value = caja;
        document.getElementById("id_venta").value = venta;

    }
</script>
<script type="text/javascript">
	$( ".motivo_taps" ).change(function() {
		if ($('id_motivo').val() == 1){
			document.getElementById("motivo_tap").removeAttribute("style");
		}else{
			$('#motivo_tap').attr('style','display:none');
		}

	});
    function motivo_tab(){
        document.getElementById("motivo").removeAttribute("style");
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
    $('#motivo_tap').attr('style','display:none');
}
</script>