<!--LOGIN.HTML-->
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<!--HEADER DE BASE-->
	{%include "base/header.html"%}
	<!--HEADER DE BASE-->
</head>
<body>
	<div class="wrapper-page">
		<div class="card">
			<div class="card-body">

		        <div class="text-center">
		            <a href="index.html" class="logo-lg"><i class="mdi mdi-radar"></i> <span>BUSAT</span> </a>
		        </div>
		        {%if form.errors.username%}
		        	{{form.errors.username}}
		        {%endif%}
		        {%if form.errors%}
		        	{{form.error_messages.invalid_login}}
		        {%endif%}
		        <form class="form-horizontal m-t-20" method="post" action="{%url 'login'%}">{%csrf_token%}

		            <div class="form-group row">
		                <div class="col-12">
		                    <div class="input-group">
		                        <div class="input-group-prepend">
		                            <span class="input-group-text"><i class="mdi mdi-account"></i></span>
		                        </div>
		                        <input placeholder="Usuario" class="form-control" type="text" name="username" autofocus="" maxlength="254" required="" id="id_username">
		                    </div>
		                </div>
		            </div>

		            <div class="form-group row">
		                <div class="col-12">
		                    <div class="input-group">
		                        <div class="input-group-prepend">
		                            <span class="input-group-text"><i class="mdi mdi-radar"></i></span>
		                        </div>
		                        <input class="form-control" type="password" name="password" required="" id="id_password" placeholder="Contraseña">
		                    </div>
		                </div>
		            </div>

		            <div class="form-group row">
		                <div class="col-12">
		                    <div class="checkbox checkbox-primary">
		                        <input id="checkbox-signup" type="checkbox">
		                        <label for="checkbox-signup">
		                            Recordar Contraseña
		                        </label>
		                    </div>

		                </div>
		            </div>

		            <div class="form-group text-center m-t-20">
		                <div class="col-xs-12">
		                    <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">Ingresar
		                    </button>
		                </div>
		            </div>
		        </form>
		    </div>
		</div>
	</div>
</body>
<!--Scripts de base-->
{%include "base/javascripts.html"%}
{%include "base/footer.html"%}
</html>
<!--LOGIN.HTML-->