{%load static%}
<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main bs-bg-primary">
        <div class="container-fluid">

            <!-- Logo container-->
            <div class="logo">
                <!-- Text Logo -->
                <a href="{% url 'rutas:listar_rutas' %}" class="">
                    <span>
                        <img src="{% static 'images/bs-icon-logo.svg' %}" height="44" alt="">
                        <img src="{% static 'images/bs-typo-logo.svg' %}" height="30" alt="">
                    </span>
                </a>
                <!-- Image Logo -->
                <!--<a href="index.html" class="logo">-->
                    <!--<img src="assets/images/logo_dark.png" alt="" height="24" class="logo-lg">-->
                    <!--<img src="assets/images/logo_sm.png" alt="" height="24" class="logo-sm">-->
                <!--</a>-->

            </div>
            <!-- End Logo container-->


            <div class="menu-extras topbar-custom">

                <ul class="list-inline float-right mb-0">

                    <li class="menu-item list-inline-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle nav-link text-white">
                            <i class="ti-menu"></i>
                        </a>
                        <!-- End mobile menu toggle-->
                    </li>

                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect nav-user bs-bg-secondary" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class=" mdi mdi-account bs-font-28 text-white"></i>
                            <!--<img src="" alt="user" class="rounded-circle">-->
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="text-overflow"><small class="text-white">Welcome! {{user}}</small> </h5>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span>
                            </a>

                            <!-- item-->
                            <a href="{%url 'logout'%}" class="dropdown-item notify-item">
                                <i class="mdi mdi-logout"></i> <span>Logout</span>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- end menu-extras -->

            <div class="clearfix"></div>

        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->
    <div class="navbar-custom bs-bg-secondary">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <!--<li class="has-submenu">
                        <a href="index.html"><i class="ti-home"></i>Inicio</a>
                    </li>-->
                    {%if perms.usuarios.is_superadmin%}
                        <li class="has-submenu">
                            <a href="{%url 'usuarios:listar_comunidad'%}"><i class="ti-settings"></i>Comunidades</a>
                        </li>
                        <li class="has-submenu">
                            <a href="{%url 'usuarios:listar_usuarios'%}"><i class="ti-user"></i>Usuarios</a>
                        </li>
                    {%endif%}
                    {%if not request.user.is_staff%}
                        <li class="nav-item dropdown class">
                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="ti-map-alt"></i>Rutas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% if not perms.usuarios.is_secretaria%}
                                    <a class="dropdown-item bs-text-primary" href="{%url 'rutas:listar_imei'%}">Listar Imei</a>
                                {% endif %}    
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item bs-text-primary" href="{%url 'rutas:listar_rutas'%}">Listar Rutas</a>
                            </div>
                        </li> 
                        <li class="nav-item dropdown class">
                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="ti-credit-card"></i>Retiros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item bs-text-primary" href="{%url 'retiros:listar_retiros'%}">Listar Retiros</a>  
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item bs-text-primary" href="{%url 'retiros:listar_inversiones'%}">Listar Inversiones</a>
                            </div>
                        </li> 
                        {% if perms.usuarios.is_admincomunidad %}
                            <li class="has-submenu">
                                <a href="{%url 'usuarios:listar_usuarios'%}"><i class="mdi mdi-account-multiple-outline text-white bs-font-24"></i>Usuarios</a>
                            </li>
                        {%endif%}
                    {%endif%}
                </ul>   

                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->