/*!
 * BUSAT - Version 0.0.1
 * Copyright © BUSAT
 * Responsable: Jerson Herrera
 * Creado: 15/02/2019
 * Actualización: 20/02/2019
 * Descripción: Personalización de la Plantilla Minton - Bootstrap
*/

body{
	background-color: #252B42 !important;	
}


/* Botones */
.btn-primary{
	background-color: #250070 !important; 
}
.btn-secondary{
	background-color: #1C0054 !important; 
}
.btn-success{
	background-color: #8755FF !important; 
}
.btn-info{
	background-color: #4B2891 !important; 
}
.btn-light{
	background-color: #F2F2F2 !important; 
}
.btn-dark{
	background-color: #261449 !important; 
}
.btn-warning{
	background-color: #6B480D !important;
}

/* Backgrounds */
.bs-bg-primary{
	background-color: #250070 !important; 
}
.bs-bg-secondary{
	background-color: #1C0054 !important; 
}
.bs-bg-success{
	background-color: #8755FF !important; 
}
.bs-bg-info{
	background-color: #4B2891 !important; 
}
.bs-bg-light{
	background-color: #F2F2F2 !important; 
}
.bs-bg-dark{
	background-color: #261449 !important; 
}
.bs-bg-grey-light{
	background-color: #E6E6E6 !important; 
}
.bs-bg-grey-medium{
	background-color: #CCCCCC !important;
}
.bs-bg-grey-dark{
	background-color: #252B42 !important;	
}

/* Text */
.bs-text-primary{
	color: #250070 !important; 
}
.bs-text-secondary{
	color: #1C0054 !important; 
}
.bs-text-success{
	color: #8755FF !important; 
}
.bs-text-info{
	color: #4B2891 !important; 
}
.bs-text-light{
	color: #F2F2F2 !important; 
}
.bs-text-dark{
	color: #261449 !important; 
}
.bs-text-grey-light{
	color: #E6E6E6 !important; 
}
.bs-text-black{
	color: black !important;
}


/* Fonts */
.bs-font-13{
	font-size: 13px !important;
}
.bs-font-14{
	font-size: 14px !important;
}
.bs-font-15{
	font-size: 15px !important;
}
.bs-font-16{
	font-size: 16px !important;
}
.bs-font-17{
	font-size: 17px !important;
}
.bs-font-18{
	font-size: 18px !important;
}
.bs-font-19{
	font-size: 19px !important;
}
.bs-font-20{
	font-size: 20px !important;
}
.bs-font-21{
	font-size: 21px !important;
}
.bs-font-22{
	font-size: 22px !important;
}
.bs-font-23{
	font-size: 23px !important;
}
.bs-font-24{
	font-size: 24px !important;
}
.bs-font-25{
	font-size: 25px !important;
}
.bs-font-26{
	font-size: 26px !important;
}
.bs-font-27{
	font-size: 27px !important;
}
.bs-font-28{
	font-size: 28px !important;
}


/* Estilos Tablas */
.bs-table-sm td{
	padding: 0px 5px !important;
	vertical-align: middle !important;
}

/* Border */
.bs-border-y-primary{
	border-top: 1px solid #250070 !important;
	border-bottom: 1px solid #250070 !important;
}
.bs-border-x-primary{
	border-left: 1px solid #250070 !important;
	border-right: 1px solid #250070 !important;	
}
.bs-border-primary{
	border: 1px solid #250070 !important;
}

.bs-border-y-success{
	border-top: 1px solid #8755FF !important;
	border-bottom: 1px solid #8755FF !important;
}
.bs-border-x-success{
	border-left: 1px solid #8755FF !important;
	border-right: 1px solid #8755FF !important;	
}
.bs-border-success{
	border: 1px solid #8755FF !important;
}
.bs-border-bottom-grey{
	border-bottom: 1px solid #ebebeb !important;	
}


/* Styles Resumen */
.bs-hover-items:hover{
	background-color: #ebebeb !important;
}


/* Personalizacion DataTable */
.dataTables_length{
	padding-left: 15px !important; 
}
.dataTables_filter{
	padding-right: 15px !important;
}
.dataTables_info{
	padding-left: 15px !important; 
}
.dataTables_paginate{
	padding-right: 15px !important;
}
.table.dataTable{
	border-collapse: collapse !important;
}
.btn-btn{
	background-color: transparent !important;
	padding: 0px !important;	
}

#id_rutas{
	height: 300px !important;
}