










/*****************/
.font-14{
	font-size: 14px !important;
}
.font-11{
	font-size: 11px !important;
}
.b-ul-dropdown-navbar li:hover{
	color: black !important;
	background-color:#AAB7B8 !important
}
.btn-rounded{
	border-radius: 50px !important;
}
.b-font-weight-500{
	font-weight: 500 !important;
}

.b-navigation li a{
	color: black !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.b-navigation li a:hover{
	color: white !important;
}
.b-tr-td td{
	padding: 0px 5px !important;
}
.b-td-acciones{
	vertical-align: middle !important;
}
table tbody tr td{
	vertical-align: middle !important;
}
table tr th{
	font-weight: 600 !important;
}
@media (min-width: 992px){}
#topnav .navigation-menu > li.last-elements .submenu {
    right: auto;
    /* right: 0; */
	}
}
@media (max-width: 991px) {
  .b-wrapper {
    padding-top: 60px !important;
  }
}  

