{%extends 'base/base.html'%}
{%block content%}
<div class="row">  
    <div class="col-12"> 
        <div class="card-box px-0 bs-border-primary">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {%endif%}
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">RESUMEN DE CAJA - N° {{object_list.pk}} - RUTA: {{ruta}}</h4>
                <a href="{%url 'clientes:listar_clientes' object_list.ruta.pk%}" class="btn btn-sm btn-primary waves-effect waves-light">Listado Clientes</a>
            </div>
            
            <div class="row">
                <div class="col-12 col-md-6 mb-3 px-4">
                    <div class="title">
                        <h5 class="header-title pt-2 bs-text-primary">RESUMEN DE CAJA POR CAJAS</h5>
                    </div>
                    <form action="{% url 'caja:resumen_periodo_caja' ruta.pk %}" name="periodo-form" method="GET">
                        <div class="form-row">
                            <div class="col-4">
                                <input type="date" class="form-control" name="start" placeholder="Fecha Inicio" />
                            </div>
                            <div class="col-4">
                                <input type="date" class="form-control" name="end" placeholder="Fecha Fin" />
                            </div>
                            <div class="col-4">
                                <input type="submit" value="Resumen" name="enviar" class="btn btn-primary waves-effect waves-light">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-6 mb-3 px-4">
                    <div class="title">
                        <h5 class="header-title pt-2 bs-text-primary">RESUMEN DE CAJA POR PERIODO</h5>
                    </div>
                    <div class="form-row">
                        <div class="col-8">
                            <select class="form-control" name="caja-select">
                                {%for contenido in queryset%}
                                    <option value="{{contenido.pk}}">{{contenido}}</option>
                                {%endfor%}
                            </select>                                    
                        </div>
                        <div class="col-4">
                            <input type="submit" onclick="enviar_caja()" value="Resumen" name="enviar" class="btn btn-primary waves-effect waves-light">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Inicio Resumen -->
            <div class="row px-3">

                <!-- Caja -->
                <div class="col-12 col-md-6">
                    <div class="card-box px-0 bs-border-primary">
                        <div class="d-flex justify-content-between bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                            <h4 class="header-title pt-2 bs-text-primary">RESUMEN DE CAJA</h4>
                            <a class="btn btn-sm waves-effect waves-light btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Ver Mas
                            </a>
                        </div>    

                        <div class="card-body py-1">
                            <div class="row">

                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Fecha Inicio</p><strong>{{object_list.created}}</strong>
                                </div>
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Fecha Cierre</p><strong>{%if not object_list.abierta%}{{ object_list.modified}}{%endif%}</strong>
                                </div>

                                <hr class="col-12 p-0 my-1" style="border-top-color: #250070;">

                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Recaudo</p><strong>{{object_list.pagos|floatformat:2}}</strong>
                                </div>
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Ventas</p><strong>{{object_list.ventas_total|floatformat:2}}</strong>
                                </div>
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Gastos</p><strong>{{object_list.gasto|floatformat:2}}</strong>
                                </div>

                                <hr class="col-12 p-0 my-1" style="border-top-color: #250070;">

                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Total Clientes</p><strong>{{object_list.total_clientes}}</strong>
                                </div>
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Caja Inicial</p><strong>{{object_list.valor_inicial|floatformat:2 }}</strong>
                                </div>
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Debido Cobrar</p><strong>{{object_list.ventas_ruta|floatformat:2 }}</strong>
                                </div>
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Cartera</p><strong>{{ object_list.ruta_saldo_inversion|floatformat:2 }}</strong>
                                </div>

                                <div class="collapse hide col-12 px-0" id="collapseExample">
                                    <hr style="border-top-color: #250070;">
                                    <div class="title text-center bs-text-primary">
                                        <h6>Mas información de Caja</h6>
                                    </div>
                                    <hr style="border-top-color: #250070;">

                                    <div class="col-12 d-flex justify-content-between">
                                        <p>Clientes Inicio</p><strong>{{object_list.clientes_inicio}}</strong>
                                    </div>
                                    <div class="col-12 d-flex justify-content-between">
                                        <p>Clientes Nuevos</p><strong>{{object_list.clientes_nuevos}}</strong>
                                    </div>
                                    <div class="col-12 d-flex justify-content-between">
                                        <p>Ventas Nuevas</p><strong>{{object_list.venta_set.count}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bs-bg-grey-light bs-border-y-primary rounded-0">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                    <strong class="mb-0">Caja Final</strong><strong>{{object_list.total_final|floatformat:2 }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Caja -->

                <!-- Movimientos -->
                <div class="col-12 col-md-6">
                    <div class="card-box px-0 bs-border-primary">
                        <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                            <h4 class="header-title pt-2 bs-text-primary">Listado de Movimientos</h4>
                            {% if perms.usuarios.agregar_movimientos %}
                                <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Agregar</button>
                            {% endif %}
                        </div>

                        <!-- Inicio table responsive -->
                        <div class="table-responsive-md">
                            <table class="table table-bordered table-sm dataTable">
                                <thead class="bs-bg-light bs-text-primary text-center">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Valor</th>
                                        <th>Tipo</th>
                                        <th>Opcion</th>
                                        <th>Descripcion</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for contenido in object_list.movimientos_data%}
                                    <tr>
                                        <td align="center">{{contenido.created}}</td>
                                        <td align="center">{{contenido.valor}}</td>
                                        <td align="center">{{contenido.tipo_movimiento}}</td>
                                        <td align="center">{{contenido.opcion}}</td>
                                        <td align="center">{{contenido.descripcion}}</td>
                                        <td align="center" width="50px">
                                            <a title="Editar" href="{%url 'movimientos:editar_movimiento' contenido.pk %}"><i class="ti ti-pencil bs-font-20 bs-text-primary px-2"></i></a>
                                        </td>  
                                        <td align="center" width="50px">
                                            {% if perms.usuarios.eliminar_movimientos %}
                                                <a title="Eliminar" onclick="eliminar_movimiento({{contenido.pk}})" href="#"><i class="ti ti-trash bs-font-20 bs-text-primary px-2"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>    
                </div>
                <!-- Fin Movimientos -->

            </div>   
            <!-- Fin resumen -->  

        </div>      
        <!-- End Card Box --> 
    </div>      
</div>  
<!-- End row -->

    <!-- <div class="col-6">
        <div class="card-box">
            <h4 class="m-t-0 header-title">Caja : {{object_list.pk}} >> Ruta: {{object_list.ruta}}</h4>
                <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Crear Movimiento</button>
            <div>
                <h5>Fecha de ultima sincronizacion: </h5>
                <h5>Sincronizados: </h5>
                <h5>A. Caja inicial: {{object_list.valor_inicial}}</h5>
                <h5>B. Ruta Saldo inversion inicial: </h5>
                <h5>G. Retiros: {{object_list.retiro}}</h5>
                <h5>H. Ingresos:{{object_list.ingreso}} </h5>
            </div>
        </div>
    </div> -->

<div class="row">
    <!-- Tabla Ventas -->
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Ventas</h4>
                <h4 class="header-title pt-2 bs-text-primary"><i class="ti ti-flag"></i>{{object_list.venta_set.count}}</h4>
                <!--<button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Agregar</button>-->
            </div>

            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table class="table table-bordered table-sm dataTable">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>Venta</th>
                            <th>Cliente</th>
                            <th>Valor Neto</th>
                            <th>Interes</th>
                            <th>Venta + Interes</th>
                            <th>Cuotas</th>
                            <th>Fecha</th>
                            {% if perms.usuarios.gestionar_pagos %}
                                <th></th>  
                            {% endif %}
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for contenido in object_list.venta_set.all%}
                        <tr>
                            <td align="center">
                                <a href="{% url 'pagos:listar_pagos' contenido.pk%}">{{contenido.pk}}&nbsp;</a></td>
                            <td align="center">
                                <i class="far fa-circle" style="border-radius: 10px; background-color: {{contenido.categoria_venta}};color:{{contenido.categoria_venta}}"></i>
                                <a href="{% url 'ventas:listar_ventas' contenido.cliente_ruta.pk %}">{{contenido.cliente_ruta.pk}} - {{contenido.cliente_ruta.cliente.full_name}}</a>
                            </td>
                            <td align="center">{{contenido.valor}}</td>
                            <td align="center">{{contenido.interes}}</td>
                            <td align="center">{{contenido.valor_venta_interes}}</td>
                            <td align="center">{{contenido.cuotas}}</td>
                            <td align="center">{{contenido.created.date}}</td>
                            {% if perms.usuarios.gestionar_pagos %}
                                <td align="center" width="50px">
                                    <a  onclick="pk_modelo({{contenido.caja.caja_actual.pk}}, {{contenido.pk}}, {{contenido.saldo}}, {{contenido.cuota}})" title="Gestionar Pago" href="#"><i class="ti ti-save-alt bs-font-20 bs-text-primary px-2" data-toggle="modal" data-target="#custom-modal-pago"></i></a>
                                </td>
                            {% endif %}
                            <td align="center" width="50px">
                                <a title="Editar" href="{%url 'ventas:actualizar_venta_caja' contenido.pk caja_pk%}"><i class="ti ti-pencil-alt bs-font-20 bs-text-primary px-2"></i></a>
                            </td>  
                            <td align="center" width="50px">
                                <a title="Eliminar" href="#" onclick="eliminar_venta({{contenido.pk}})"><i class="ti ti-trash bs-font-20 bs-text-primary px-2"></i></a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
    <!-- Fin Tabla Ventas -->
</div>    

<div class="row">
    <!-- Tabla Pagos -->
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Pagos</h4>
                <h4 class="header-title pt-2 bs-text-primary"><i class="ti ti-flag"></i>{{object_list.si_pago.count}}</h4>
            </div>
            <div>
                <select id="select-actions-si-pagos" form="form-control">
                    <option>-------------</option>
                    <option value="eliminar">Eliminar Seleccionados</option>
                </select>
                <button name="button-action" onclick="actions()">Enviar</button>
            </div>
            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table class="table table-bordered table-sm dataTable">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th></th>
                            <th>Venta</th>
                            <th>Cliente</th>
                            <th>Valor Neto</th>
                            <th>Valor Pago</th>
                            <th>Saldo</th>
                            <th>Dias</th>
                            <th>Tipo</th>
                            <th>Fecha</th>
                            <th></th>
                            {% if perms.usuarios.elminar_pagos %} 
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {%for contenido in object_list.si_pago%}
                        {%if contenido.duplicada%}
                        <tr style="background: #CECACA">
                        {%else%}
                        <tr>
                        {%endif%}
                            <td><input class="selected-pagos" type="checkbox" name="check" value="{{contenido.pk}}"></td>
                            <td align="center">
                                <a href="{% url 'pagos:listar_pagos' contenido.venta.pk%}">{{contenido.pk}}&nbsp;</a>
                            <td align="center">
                                <i class="far fa-circle" style="border-radius: 10px; background-color: {{contenido.venta.categoria_venta}};color:{{contenido.venta.categoria_venta}}"></i>
                                <a href="{% url 'ventas:listar_ventas' contenido.venta.cliente_ruta.pk %}">{{contenido.venta.cliente_ruta.pk}} - {{contenido.venta.cliente_ruta.cliente.full_name}}</a>
                            </td>
                            <td align="center">{{contenido.venta.valor_venta_interes|floatformat:2 }}</td>
                            <td align="center">{{contenido.valor|floatformat:2 }}</td>
                            <td align="center">{{contenido.venta.saldo|floatformat:2 }}</td>
                            <td align="center">{{contenido.venta.dias}}</td>
                            <td align="center">
                                {% if contenido.venta.cuota == contenido.valor%}
                                    CUOTA
                                {%else%}
                                    {{contenido.tipo_pago}}                                        
                                {%endif%}
                            </td>
                            <td align="center">{{contenido.created.date}}</td>
                            <td align="center" width="50px">
                                <a title="Editar" href="{%url 'pagos:editar_pago_caja' contenido.pk caja_pk%}"><i class="ti ti-pencil bs-font-20 bs-text-primary px-2"></i></a>
                            </td>
                            {% if perms.usuarios.elminar_pagos %} 
                                <td align="center" width="50px">
                                    <a title="Eliminar" href="#" onclick="eliminar_pago({{contenido.pk}})"><i class="ti ti-trash bs-font-20 bs-text-primary px-2"></i></a>
                                </td> 
                            {% endif %}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
    <!-- Fin Tabla Pagos -->
</div>    

<div class="row">
    <!-- Tabla NO Pagos -->
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de No Pagos</h4>
                <h4 class="header-title pt-2 bs-text-primary"><i class="ti ti-flag"></i>{{object_list.no_pagos.count}}</h4>
            </div>
            <div>
                <select id="select-actions-no-pagos" form="form-control">
                    <option>-------------</option>
                    <option value="eliminar">Eliminar Seleccionados</option>
                </select>
                <button name="button-action" onclick="actionsNoPago()">Enviar</button>
            </div>
            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table class="table table-bordered table-sm dataTable">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr>
                            <th></th>
                            <th>Venta</th>
                            <th>Cliente</th>
                            <th>Valor Neto</th>
                            <th>Saldo</th>
                            <th>Dias</th>
                            <th>Tipo</th>
                            <th>Fecha</th>
                            {% if perms.usuarios.elminar_pagos %} 
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {%for contenido in object_list.no_pagos%}
                        {%if contenido.duplicada%}
                        <tr style="background: #CECACA;">
                        {%else%}
                        <tr>
                        {%endif%}
                            <td><input class="selected-no-pagos" type="checkbox" name="check" value="{{contenido.pk}}"></td>
                            <td align="center">
                                <a href="{% url 'pagos:listar_pagos' contenido.venta.pk%}">{{contenido.venta.pk}}&nbsp;</a>
                            <td align="center">
                                <i class="far fa-circle" style="border-radius: 10px; background-color: {{contenido.venta.categoria_venta}};color:{{contenido.venta.categoria_venta}}"></i>
                                <a href="{% url 'ventas:listar_ventas' contenido.venta.cliente_ruta.pk %}">{{contenido.venta.cliente_ruta.pk}} - {{contenido.venta.cliente_ruta.cliente.full_name}}</a>
                            </td>
                            <td align="center">{{contenido.venta.valor_venta_interes|floatformat:2 }}</td>
                            <td align="center">{{contenido.venta.saldo|floatformat:2 }}</td>
                            <td align="center">{{contenido.venta.dias}}</td>
                            <td align="center">
                                {% if not contenido.motivo %}
                                        CIERRE DE CAJA
                                    {%else%}
                                        {{contenido.motivo}}  
                                    {%endif%}
                            </td>
                            <td align="center">{{contenido.created.date}}</td>
                            {% if perms.usuarios.elminar_pagos %} 
                                <td align="center" width="50px">
                                    <a title="Eliminar" href="#" onclick="eliminar_pago({{contenido.pk}})"><i class="ti ti-trash bs-font-20 bs-text-primary px-2"></i></a>
                                </td> 
                            {% endif %}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
    <!-- Fin Tabla NO Pagos -->
</div>    

<div class="row">
    <!-- Tabla NO Sinrconizados -->
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">No Sincronizados</h4>
                <h4 class="header-title pt-2 bs-text-primary"><i class="ti ti-flag"></i>
                {% if object_list.nosincronizados.all %}    
                    {{object_list.nosincronizados.count}}
                {%else%}
                    0
                {%endif%}    
                </h4>
            </div>

            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table class="table table-bordered table-sm dataTable">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>Venta</th>
                            <th>Cliente</th>
                            <th>Vr. Neto</th>
                            <th>Vr. Pagado</th>
                            <th>Saldo</th>
                            <th>Dias</th>
                            <th>Fecha</th>
                            {% if perms.usuarios.gestionar_pagos %}
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for contenido in object_list.nosincronizados.all %}
                        <tr>
                            <td align="center">
                                <a href="{% url 'pagos:listar_pagos' contenido.pk%}">{{contenido.pk}}&nbsp;</a>
                            <td align="center">
                                <i class="far fa-circle" style="border-radius: 10px; background-color: {{contenido.categoria_venta}};color:{{contenido.categoria_venta}}"></i>
                                <a href="{% url 'ventas:listar_ventas' contenido.cliente_ruta.pk %}">
                                {{contenido.cliente_ruta.pk}} - {{contenido.cliente_ruta.cliente.full_name}}</a>
                            </td>
                            <td align="center">{{contenido.valor_venta_interes|floatformat:2 }}</td>
                            <td align="center">{{contenido.pagos}}</td>
                            <td align="center">{{contenido.saldo|floatformat:2 }}</td>
                            <td align="center">{{contenido.dias}}</td>
                            <td align="center">{{contenido.created.date}}</td>
                            {% if perms.usuarios.gestionar_pagos %}
                                <td align="center" width="50px">
                                    <a  onclick="pk_modelo({{contenido.caja.caja_actual.pk}}, {{contenido.pk}}, {{contenido.saldo}}, {{contenido.cuota}})" title="Gestionar Pago" href="#"><i class="ti ti-save-alt bs-font-20 bs-text-primary px-2" data-toggle="modal" data-target="#custom-modal-pago"></i></a>
                                </td> 
                            {% endif %}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
    <!-- Fin Tabla NO Sincronizados -->
</div> 


{{form.errors}}
<!-- Modal -->
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Crear Movimientos</h4>
                <!-- <a class="btn btn-rounded btn-outline-primary" href="{% url 'rutas:crear_imei' %}" target="_self">Crear Imei</a> -->
            </div>
            <form action="{%url 'movimientos:crear_movimiento' %}" method="POST">{%csrf_token%}
                <div class="custom-modal-text">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Valor</label>
                                    {{form.valor}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Tipo de movimiento</label>
                                    {{form.tipo_movimiento}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Opcion</label>
                                    {{form.opcion}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Descripcion</label>
                                    {{form.descripcion}}
                                </div>
                            </div>
                            <div class="col-md-12" style="display: none">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Caja</label>
                                    <select name="caja" class="form-control" required="" id="id_caja">
                                        <option value="{{object_list.pk}}">{{object_list}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Este va a ser el ejemplo para caja
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="hidden" name="ruta" value="{{id_ruta}}">
                                </div>
                            </div>-->
                            <div class="col-md-12">
                                <div class="form-group no-margin">
                                    <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->

<div id="custom-modal-pago" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Crear Pago</h4>
            </div>
            <form action="{%url 'pagos:gestionar_pago_caja' caja_pk%}" method="POST">{%csrf_token%}
                <div class="custom-modal-text">
                <div class="modal-body">
                    <div class="row">
                        <div id="venta_info" class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div id= class="form-group">
                                <label name="id_valor" for="field-1" class="control-label">Valor a pagar</label>
                                {{form2.valor}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label name="id_tipo_pago" for="field-1" class="control-label">Tipo de pago</label>
                                {{form2.tipo_pago}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="motivo_taps" style="display: none;" class="form-group">
                                <label name="id_motivo" for="field-1" class="control-label">Motivo de no pago</label>
                                {{form2.motivo}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form2.venta}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form2.caja}}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <a class="btn btn-secondary" href="">Cancelar</a>
                                <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </form>
            
        </div>
    </div>
</div><!-- /.modal -->

</div>
{%include "base/footer.html"%}
<script type="text/javascript">
    function enviar_caja(){
        var tipoId = $("#caja-select").text();
        tipoId = $('select[name="caja-select"] option:selected').val();
        if (tipoId){
            window.location.replace("/caja/resumen/"+tipoId);    
        }
        
    }
</script>
<script type="text/javascript">
    $("#id_opcion").html('<option value="" selected="selected" >-----------</option>');
    $("#id_opcion").trigger("change");
    function get_opciones(){
        var tipoId = $("#id_tipo_movimiento").text();
        tipoId = $('select[name="tipo_movimiento"] option:selected').text()

                    // Eliminamos las opciones anteriores del select
                    var request = $.ajax({
                        type: "GET",
                        url: "/movimientos/opcion",
                        data: {
                            "id_tipo_movi": tipoId,
                        },
                    });
                    request.done(function(response) {
                        // Agregamos los resultados al select
                        $("#id_opcion").html(response.opc);
                        $("#id_opcion").trigger("change");
                    });
    }
</script>
<script type="text/javascript">
    function eliminar_venta(pk){
    swal({
          title: "Estas seguro que quieres eliminar esta venta?",
          text: "Si eliminas este registro se eliminara todo en cadena, relaciones que esten asociadas a esta ruta!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Su objeto ha sido eliminado!", {
            icon: "success",
            });
            window.location.replace((("/ventas/eliminar/"+pk)+"/")+{{caja_pk}});
          } else {
            swal("Ok!");
          }
        });
    };
</script>
<script type="text/javascript">
    function eliminar_pago(pk){
    swal({
          title: "Estas seguro que quieres eliminar este pago?",
          text: "Si eliminas este registro se eliminara el registro y no se puede recuperar!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Su objeto ha sido eliminado!", {
            icon: "success",
            });
            window.location.replace((("/pagos/eliminar/"+pk)+"/")+{{caja_pk}});
          } else {
            swal("Ok!");
          }
        });
    };
</script>
<script type="text/javascript">
    function eliminar_movimiento(pk){
    swal({
          title: "Estas seguro que quieres eliminar este movimiento?",
          text: "Si eliminas este registro se eliminara el registro y no se puede recuperar!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Su objeto ha sido eliminado!", {
            icon: "success",
            });
            window.location.replace((("/movimientos/eliminar/"+pk)));
          } else {
            swal("Ok!");
          }
        });
    };
</script>
<script type="text/javascript">
    function actions(){
        var li = []
        var select = document.getElementById("select-actions-si-pagos");
        var value = select.value;
        if (value=="eliminar"){
            var a = document.querySelectorAll(".selected-pagos");
            console.log(a);
            for(var b in a){
              var c = a[b];
              if (c.checked){
                console.log(c.value);
                li.push(c.value);
              }
              
            }
        $.ajax({
            type: "GET",
            url: "/pagos/pagos_list/eliminar/",
            data: {
                "type": "eliminar",
                list_pagos: li
            },
        }).done(function(){
            swal("Listo");
            location.reload();
        });
        console.log("esta es li ", li);
        }
        
    }
</script>
<script type="text/javascript">
    function actionsNoPago(){
        var li = []
        var select = document.getElementById("select-actions-no-pagos");
        var value = select.value;
        if (value=="eliminar"){
            var a = document.querySelectorAll(".selected-no-pagos");
            console.log(a);
            for(var b in a){
              var c = a[b];
              if (c.checked){
                console.log(c.value);
                li.push(c.value);
              }
              
            }
        $.ajax({
            type: "GET",
            url: "/pagos/pagos_list/eliminar/",
            data: {
                "type": "eliminar",
                list_pagos: li
            },
        }).done(function(){
            swal("Listo");
            location.reload();
        });
        console.log("esta es li ", li);
        }
        
    }
</script>
{%endblock%}