{%extends 'base/base.html'%}
{%block content%}
<div class="row">  
    <div class="col-12"> 
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">RESUMEN DE CAJA - {{start}} al {{end}}</h4>
                <a href="" class="btn btn-sm btn-primary waves-effect waves-light">Listado de Clientes</a>
            </div>
            
            <div class="row">
                <div class="col-6 mb-3 px-4">
                    <div class="title">
                        <h5 class="header-title pt-2 bs-text-primary">RESUMEN DE CAJA POR PERIODO</h5>
                    </div>
                    <form action="{% url 'caja:resumen_periodo_caja' ruta %}" name="periodo-form" method="GET">
                        <div class="form-row">
                            <div class="col-4">
                                <input type="date" class="form-control" name="start" placeholder="Fecha Inicio" />
                            </div>
                            <div class="col-4">
                                <input type="date" class="form-control" name="end" placeholder="Fecha Fin" />
                            </div>
                            <div class="col-4">
                                <input type="submit" value="Resumen" name="enviar" class="btn btn-primary waves-effect waves-light">
                            </div>
                        </div>        
                    </form>
                </div>
            </div>

            <!-- Inicio Resumen -->
            <div class="row px-3">

                <!-- Caja -->
                <div class="col-12 col-md-6">
                    <div class="card-box px-0 bs-border-primary">
                        <div class="d-flex justify-content-between bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                            <h4 class="header-title pt-2 bs-text-primary">RESUMEN DE CAJA</h4>
                            <a class="btn btn-sm waves-effect waves-light btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Ver Mas
                            </a>
                        </div>    

                        <div class="card-body py-1">
                            <div class="row">

                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Fecha Inicio</p><strong>{{ start }}</strong>
                                </div>
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Fecha Final</p><strong>{{ end }}</strong>
                                </div>

                                <hr class="col-12 p-0 my-1" style="border-top-color: #250070;">

                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Recaudo</p><strong>{{recaudo}}</strong>
                                </div>
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Ventas</p><strong>{{ventas}}</strong>
                                </div>

                                <hr class="col-12 p-0 my-1" style="border-top-color: #250070;">
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Gastos</p><strong>{{gasto}}</strong>
                                </div>
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Retiros</p><strong>{{retiro}}</strong>
                                </div>
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Ingresos</p><strong>{{ingreso}}</strong>
                                </div>
                                <div class="col-12 d-flex justify-content-between bs-hover-items py-1">
                                    <p class="mb-0">Caja Inicial</p><strong>{{caja_inicial}}</strong>
                                </div>

                                <div class="collapse hide col-12 px-0" id="collapseExample">
                                    <hr style="border-top-color: #250070;">
                                    <div class="title text-center bs-text-primary">
                                        <h6>Mas información de Caja</h6>
                                    </div>
                                    <hr style="border-top-color: #250070;">

                                    <div class="col-12 d-flex justify-content-between">
                                        <p>Clientes Inicio</p><strong>{{object_list.clientes_inicio}}</strong>
                                    </div>
                                    <div class="col-12 d-flex justify-content-between">
                                        <p>Clientes Nuevos</p><strong>{{object_list.clientes_nuevos}}</strong>
                                    </div>
                                    <div class="col-12 d-flex justify-content-between">
                                        <p>Ventas Nuevas</p><strong>{{ventas_nuevas}}</strong>
                                    </div>
                                    <div class="col-12 d-flex justify-content-between">
                                        <p>Texto</p><strong>Texto</strong>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer bs-bg-grey-light bs-border-y-primary rounded-0">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                    <strong class="mb-0">Caja Final</strong><strong>{{caja_final}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Caja -->

                <!-- Movimientos -->
                <div class="col-12 col-md-6">
                    <div class="card-box px-0 bs-border-primary">
                        <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                            <h4 class="header-title pt-2 bs-text-primary">Listado de Movimientos</h4>
                            <!--<button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Agregar</button>-->
                        </div>

                        <!-- Inicio table responsive -->
                        <div class="table-responsive-md">
                            <table class="table table-bordered table-sm dataTable">
                                <thead class="bs-bg-light bs-text-primary text-center">
                                    <tr> 
                                        <th>Fecha</th>
                                        <th>Valor</th>
                                        <th>Tipo</th>
                                        <th>Opcion</th>
                                        <th>Descripcion</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for object_list in cajas%}
                                        {%for contenido in object_list.movimiento_set.all%}
                                        <tr>
                                            <td>{{contenido.created}}</td>
                                            <td align="center">{{contenido.valor}}</td>
                                            <td align="center">{{contenido.tipo_movimiento}}</td>
                                            <td align="center">{{contenido.opcion}}</td>
                                            <td align="center">{{contenido.descripcion}}</td>
                                            <td align="center" width="50px">
                                                <a title="Editar" href="#"><i class="ti ti-pencil bs-font-20 bs-text-primary px-2"></i></a>
                                            </td>  
                                            <td align="center" width="50px">
                                                <a title="Eliminar" href="#"><i class="ti ti-trash bs-font-20 bs-text-primary px-2"></i></a>
                                            </td>  
                                        {%endfor%}  
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>    
                </div>
                <!-- Fin Movimientos -->

            </div>   
            <!-- Fin resumen -->  

        <!-- Fin -->    
        </div>
    </div>
</div>
    

    <!-- <div class="col-6">
        <div class="card-box">
        	<h4 class="m-t-0 header-title">Caja : {{object_list.pk}} >> Ruta: {{object_list.ruta}}</h4>
                <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Crear Movimiento</button>
        	<div>
        		<h5>Fecha de ultima sincronizacion: </h5>
        		<h5>Sincronizados: </h5>
        		<h5>A. Caja inicial: {{object_list.valor_inicial}}</h5>
        		<h5>B. Ruta Saldo inversion inicial: </h5>
        		<h5>G. Retiros: {{object_list.retiro.valor__sum}}</h5>
        		<h5>H. Ingresos:{{object_list.ingreso.valor__sum}} </h5>
        	</div>
        </div>
    </div> -->


<div class="row">
    <!-- Tabla Ventas -->
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Ventas</h4>
                <h4 class="header-title pt-2 bs-text-primary"><i class="ti ti-flag"></i>{{ventas_nuevas}}</h4>
                <!--<button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Agregar</button>-->
            </div>

            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table class="table table-bordered table-sm dataTable">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>Venta</th>
                            <th>Cliente</th>
                            <th>Valor Neto</th>
                            <th>Interes</th>
                            <th>Venta + Interes</th>
                            <th>Cuotas</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for object_list in cajas%}
                        {%for contenido in object_list.venta_set.all%}
                        <tr>
                            <td align="center">
                                <a href="{% url 'pagos:listar_pagos' contenido.pk%}">{{contenido.pk}}&nbsp;</a></td>
                            <td align="center">
                                <i class="far fa-circle" style="border-radius: 10px; background-color: {{contenido.categoria_venta}};color:{{contenido.categoria_venta}}"></i>
                                <a href="{% url 'ventas:listar_ventas' contenido.cliente_ruta.pk %}">{{contenido.cliente_ruta.pk}} - {{contenido.cliente_ruta.cliente.full_name}}</a>
                            </td>
                            <td align="center">{{contenido.valor}}</td>
                            <td align="center">{{contenido.interes}}</td>
                            <td align="center">{{contenido.valor_venta_interes}}</td>
                            <td align="center">{{contenido.cuotas}}</td>
                            <td align="center">{{contenido.created.date}}</td>
                        </tr>
                        {%endfor%}
                    {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
    <!-- Fin Tabla Ventas -->
</div>      

<div class="row">
    <!-- Tabla Pagos -->
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Pagos</h4>
            </div>

            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table class="table table-bordered table-sm dataTable">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>Venta</th>
                            <th>Cliente</th>
                            <th>Valor Neto</th>
                            <th>Valor Pago</th>
                            <th>Saldo</th>
                            <th>Dias</th>
                            <th>Tipo</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for object_list in cajas%}
                        {%for contenido in object_list.si_pago.all%}
                        <tr>
                            <td align="center">
                                <a href="{% url 'pagos:listar_pagos' contenido.venta.pk%}">{{contenido.pk}}&nbsp;</a>
                            <td align="center">
                                <i class="far fa-circle" style="border-radius: 10px; background-color: {{contenido.venta.categoria_venta}};color:{{contenido.venta.categoria_venta}}"></i>
                                <a href="{% url 'ventas:listar_ventas' contenido.venta.cliente_ruta.pk %}">
                                    {{contenido.venta.cliente_ruta.cliente.pk}} - {{contenido.venta.cliente_ruta.cliente.full_name}}</a>
                            </td>
                            <td align="center">{{contenido.venta.valor_venta_interes|floatformat:2 }}</td>
                            <td align="center">{{contenido.valor|floatformat:2 }}</td>
                            <td align="center">{{contenido.venta.saldo|floatformat:2 }}</td>
                            <td align="center">{{contenido.venta.dias}}</td>
                            <td align="center">
                                {% if contenido.venta.cuota == contenido.valor%}
                                    CUOTA
                                {%else%}
                                    {{contenido.tipo_pago}}                                        
                                {%endif%}
                            </td>
                            <td align="center">{{contenido.created.date}}</td> 
                        </tr>
                        {%endfor%}
                    {%endfor%}    
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
    <!-- Fin Tabla Pagos -->
</div> 

<div class="row">
    <!-- Tabla Pagos -->
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de No Pagos</h4>
            </div>

            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table class="table table-bordered table-sm dataTable">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>Venta</th>
                            <th>Cliente</th>
                            <th>Valor Neto</th>
                            <th>Valor Pago</th>
                            <th>Saldo</th>
                            <th>Dias</th>
                            <th>Motivo</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for object_list in cajas%}
                        {%for contenido in object_list.no_pagos.all%}
                        <tr>
                            <td align="center">
                                <a href="{% url 'pagos:listar_pagos' contenido.venta.pk%}">{{contenido.pk}}&nbsp;</a>
                            <td align="center">
                                <i class="far fa-circle" style="border-radius: 10px; background-color: {{contenido.venta.categoria_venta}};color:{{contenido.venta.categoria_venta}}"></i>
                                <a href="{% url 'ventas:listar_ventas' contenido.venta.cliente_ruta.pk %}">{{contenido.venta.cliente_ruta.cliente.pk}} - {{contenido.venta.cliente_ruta.cliente.full_name}}</a>
                            </td>
                            <td align="center">{{contenido.venta.valor_venta_interes|floatformat:2 }}</td>
                            <td align="center">{{contenido.valor|floatformat:2 }}</td>
                            <td align="center">{{contenido.venta.saldo|floatformat:2 }}</td>
                            <td align="center">{{contenido.venta.dias}}</td>
                            <td align="center">
                                {% if not contenido.motivo %}
                                    CIERRE DE CAJA
                                {%else%}
                                    {{contenido.motivo}}  
                                {%endif%}
                            </td>
                            <td align="center">{{contenido.created.date}}</td> 
                        </tr>
                        {%endfor%}
                    {%endfor%}    
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
    <!-- Fin Tabla Pagos -->
</div>  

{{form.errors}}
<!-- Modal -->
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Crear Movimientos</h4>
                <!-- <a class="btn btn-rounded btn-outline-primary" href="{% url 'rutas:crear_imei' %}" target="_self">Crear Imei</a> -->
            </div>
            <form action="{%url 'movimientos:crear_movimiento' %}" method="POST">{%csrf_token%}
                <div class="custom-modal-text">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Valor</label>
                                    {{form.valor}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Tipo de movimiento</label>
                                    {{form.tipo_movimiento}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Opcion</label>
                                    {{form.Opcion}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Descripcion</label>
                                    {{form.descripcion}}
                                </div>
                            </div>
                            <div class="col-md-12" style="display: none">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Caja</label>
                                    <select name="caja" class="form-control" required="" id="id_caja">
                                        <option value="{{object_list.pk}}">{{object_list}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Este va a ser el ejemplo para caja
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="hidden" name="ruta" value="{{id_ruta}}">
                                </div>
                            </div>-->
                            <div class="col-md-12">
                                <div class="form-group no-margin">
                                    <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->
{%include "base/footer.html"%}
<script type="text/javascript">
    $("#id_Opcion").html('<option value="" selected="selected" >-----------</option>');
    $("#id_Opcion").trigger("change");
    function get_opciones(){
        var tipoId = $("#id_tipo_movimiento").text();
        tipoId = $('select[name="tipo_movimiento"] option:selected').text()

                    // Eliminamos las opciones anteriores del select
                    var request = $.ajax({
                        type: "GET",
                        url: "/movimientos/opcion",
                        data: {
                            "id_tipo_movi": tipoId,
                        },
                    });
                    request.done(function(response) {
                        // Agregamos los resultados al select
                        $("#id_Opcion").html(response.opc);
                        $("#id_Opcion").trigger("change");
                    });
    }
</script>
{%endblock%}