{%extends 'base/base.html'%}
{%block content%}
<div class="row">
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Imei</h4>
                <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Crear Imei</button>
            </div>
            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table id="datatable" class="table table-bordered table-sm dataTable">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>Codigo</th>
                            <th>Contraseña</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if object_list%}
                            {%for contenido in object_list%}
                            <tr class="bs-table-s">
                                    <td align="center">{{contenido.codigo}}</td>
                                    <td align="center">{{contenido.password}}</td>
                                    <td align="center" width="50px">
                                        <a title="Editar" href="{%url 'rutas:editar_imei' contenido.pk%}"> <i class="ti ti-pencil-alt bs-font-20 px-3 bs-text-primary"></i> </a>
                                    </td>    
                                    <td align="center" width="50px">
                                        <a title="Eliminar" onclick="eliminar({{contenido.pk}})"><i class="ti ti-trash bs-font-20 bs-text-primary px-3"></i></a>
                                    </td>
                                </tr>
                            {%endfor%}
                        {%endif%}
                    </tbody>
                </table>
            </div>
            <!-- End table responsive -->    
        </div>
    </div>
</div> <!-- end row -->

<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Crear Imei</h4>
            </div>
            <form action="{%url 'rutas:crear_imei'%}" method="POST">{%csrf_token%}
                <div class="custom-modal-text">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label name="l_codigo" for="field-1" class="control-label">Código del dispositivo (IMEI)</label>
                                    {{form.codigo}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label name="l_password" for="field-1" class="control-label">Contraseña</label>
                                    {{form.password}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                <input type="hidden" name="comunidad" value="{{request.user.comunidad.pk}}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group no-margin">
                                    <a class="btn btn-secondary" href="">Cancelar</a>
                                    <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->
{%include "base/footer.html"%}
<!--
<script>
    function cambiarestado(key){
        $.ajax({
            type: "GET",
            url: "/usuarios/estado/comunidad/",
            data: {
                "id_comunidad": key,
            },
        }).done(function(){
            // Agregamos los resultados al select
        });
    }
</script>-->
<script type="text/javascript">
    function eliminar(pk){
    swal({
          title: "Estas seguro que quieres eliminar??",
          text: "Si eliminas este registro se eliminara todo en cadena, relaciones que esten asociadas a este IMEI!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Su objeto ha sido eliminado!", {
            icon: "success",
            });
            window.location.replace("/rutas/imei/eliminar/"+pk);
          } else {
            swal("Ok!");
          }
        });
    };
</script>
{%endblock%}
