{%extends 'base/base.html'%}
{%block content%}
<div class="row">
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Rutas</h4>
                {% if perms.usuarios.crear_rutas %}
                    <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Crear Ruta</button>
                {% endif %}
            </div>
            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table id="" class="table table-bordered table-sm dataTable table-hover">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>Id</th>
                            <th>Nombre</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {%if object_list%}
                        {%for contenido in object_list%}
                        <tr class="bs-table-sm">
                            <td align="center" width="50px">{{contenido.pk}}&nbsp;</td>
                            <td>{{contenido.nombre}}</td>
                            <td class="text-center">  
                                {%if not contenido.estado%}
                                    {% if perms.usuarios.abrir_rutas %}
                                        <input id="check" class="btn btn-primary" onchange="cambiarestado({{contenido.pk}})" type="checkbox" data-plugin="switchery" data-color="#ED5565" data-secondary-color="#88F674" data-size="small" checked />
                                    {% endif %}
                                {%else%}
                                    {% if perms.usuarios.cerrar_rutas %}
                                        <input id="check" class="btn btn-primary" onchange="cambiarestado({{contenido.pk}})" type="checkbox" data-plugin="switchery" data-color="#ED5565" data-secondary-color="#88F674" data-size="small" />
                                    {% endif %}
                                {%endif%}
                            </td>
                            <td align="center" width="50px">
                                <a title="Clientes" href="{%url 'clientes:listar_clientes' contenido.pk%}"> <i class="ti ti-id-badge bs-font-22 bs-text-primary px-2"></i></a>
                            </td>    
                            <td align="center" width="50px">
                                <a title="Liquidacion" href="{{contenido.get_ultima_caja_url}}"> <i class="ti ti-menu bs-font-20 bs-text-primary px-2"></i></a>
                            </td>
                            <td align="center" width="20px">
                                <div class="btn-group btn-sm">
                                    <button title="Mas Acciones" type="button" class="btn btn-secondary btn-sm dropdown-toggle waves-effect waves-light font-11" data-toggle="dropdown" aria-expanded="false"><span class="caret">Mas Acciones</span></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{%url 'ventas:listar_ventas_activas' contenido.pk%}">Listado de Ventas Activas</a>
                                        <a class="dropdown-item" href="{%url 'clientes:listar_clientes_sin_venta_activa' contenido.pk%}">Listado de Clientes sin Venta</a>
                                        <hr class="my-0">
                                        <a class="dropdown-item" href="{%url 'rutas:editar_ruta' contenido.pk%}">Editar</a>
                                        {% if perms.usuarios.eliminar_rutas %}
                                            <a class="dropdown-item" onclick="eliminar({{contenido.pk}})" href="#">Eliminar</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                    {%endif%}
                    </tbody>
                </table>
            </div>
            <!-- End table responsive -->
        </div>
    </div>
</div> <!-- end row -->


<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Crear Ruta</h4>
                <!-- <a class="btn btn-rounded btn-outline-primary" href="{% url 'rutas:crear_imei' %}" target="_self">Crear Imei</a> -->
            </div>
            <form action="{%url 'rutas:crear_ruta'%}" method="POST">{%csrf_token%}
                <div class="custom-modal-text">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Nombre de Ruta</label>
                                    {{form.nombre}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">IMEI del dispositivo</label>
                                    {{form.imei}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group no-margin">
                                    <a class="btn btn-secondary" href="">Cancelar</a>
                                    <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->
{%include "base/footer.html"%}

<script>
    function cambiarestado(key){
        $.ajax({
            type: "GET",
            url: "/rutas/estado/",
            data: {
                "id_ruta": key,
            },
        }).done(function(response){
            // Agregamos los resultados al select
            if (response.opc2) {
                swal({
                  title: "Estas seguro que quieres cerrar la ruta?",
                  text: response.opc2,
                  type: "warning",
                  buttons: {
                    cancel: "No, Cancelar!",
                    catch: {
                      text: "Si, Cerrar Ruta!",
                      value: "catch",
                    },
                  },
                }).then((value) => {
                    console.log(value);
                    if (value=='catch'){
                        $.ajax({
                            type: "GET",
                            url: "/rutas/cierre/ruta/",
                            data: {
                                "id_ruta": key,
                            },
                        }).done(function(response){

                                swal("Realizado!");
                                location.href="{%url 'rutas:listar_rutas'%}";
                        });
                    }else{
                        swal("No se hizo nada!");
                        location.href="{%url 'rutas:listar_rutas'%}";
                    }
                });
            }else{
                location.href="{%url 'rutas:listar_rutas'%}";
            }    
        });
    }
</script>
<script type="text/javascript">
    function eliminar(pk){
    swal({
          title: "Estas seguro que quieres eliminar??",
          text: "Si eliminas este registro se eliminara todo en cadena, relaciones que esten asociadas a esta ruta!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Su objeto ha sido eliminado!", {
            icon: "success",
            });
            window.location.replace("/rutas/eliminar/"+pk);
          } else {
            swal("Ok!");
          }
        });
    };
</script>
{%endblock%}
