{%extends 'base/base.html'%}
{%block content%}

<div class="row">
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Pagos</h4>
                {%if object_list%}
                    <h4 class="pt-2 header-title bs-text-primary">Ruta : <a href="{%url 'clientes:listar_clientes' object_list.first.venta.cliente_ruta.ruta.pk%}">{{object_list.first.venta.cliente_ruta.ruta}}</a> Cliente : <a href="{%url 'ventas:listar_ventas' object_list.first.venta.cliente_ruta.cliente.pk%}">{{object_list.first.venta.cliente_ruta.cliente.pk}} - {{object_list.first.venta.cliente_ruta.cliente.nombre}}</a> Venta : <a href="">{{object_list.first.venta.pk}}</a></h4>
                {%endif%}
            </div>
            <div>
                <select id="select-actions" form="form-control">
                    <option>-------------</option>
                    <option value="eliminar">Eliminar Seleccionados</option>
                </select>
                <button name="button-action" onclick="actions()">Enviar</button>
            </div>

            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table id="datatable" class="table table-bordered table-sm dataTable table-hover">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th></th>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>Valor Pago</th>
                            <th>Saldo</th>
                            <th>Tipo</th>
                            <th>Motivo</th>
                            <th>ED</th>
                            {% if perms.usuarios.elminar_pagos %}
                                <th>EL</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {%if object_list%}
                        {%for contenido in object_list %}
                        <!-- Error class bd-table-sm -->
                        <tr class="bs-table-s">
                            <td><input class="selected" type="checkbox" name="check" value="{{contenido.pk}}"></td>
                            <td width="50" align="center">{{contenido.pk}}</td>
                            <td align="center">{{contenido.created}}</td>
                            <td align="center">{{contenido.valor}}</td>
                            <td align="center">{{contenido.saldo}}</td>   
                            <td align="center">
                                {% if contenido.venta.cuota == contenido.valor%}
                                    CUOTA
                                {%else%}
                                    {{contenido.tipo_pago}}                                        
                                {%endif%}
                            </td>
                            <td align="center">
                                {% if not contenido.venta.cuota == contenido.valor%}
                                    {% if not contenido.motivo %}
                                        {%if not contenido.tipo_pago%}
                                            CIERRE DE CAJA
                                        {%endif%}
                                    {%else%}
                                        {{contenido.motivo}}  
                                    {%endif%}
                                {%endif%}
                            </td>   
                            <td align="center">    
                            {%if contenido.caja.pk == contenido.caja.caja_actual.pk%} 
                                <a title="Editar" href="{%url 'pagos:editar_pago' contenido.pk%}"><i class="ti ti-pencil-alt bs-text-primary bs-font-20 px-2"></i></a>
                            {% endif %}    
                            </td>  
                            {% if perms.usuarios.elminar_pagos %}
                                <td align="center">
                                {%if contenido.caja.pk == contenido.caja.caja_actual.pk%}    
                                    <a title="Eliminar" href="#" onclick="eliminar({{contenido.pk}})"><i class="ti ti-trash bs-text-primary bs-font-20 px-2"></i></a>
                                {%endif%}    
                                </td>
                            {% endif %}
                        </tr>
                        {%endfor%}
                    {%endif%}
                    </tbody>
                </table>
            </div>
            <!-- End table responsive -->
        </div>    
    </div>
</div> <!-- end row -->

{%include "base/footer.html"%}
<script type="text/javascript">
    function eliminar(pk){
    swal({
          title: "Estas seguro que quieres eliminar??",
          text: "Si eliminas este registro se eliminara el registro y no se puede recuperar!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Su objeto ha sido eliminado!", {
            icon: "success",
            });
            window.location.replace("/pagos/eliminar/"+pk);
          } else {
            swal("Ok!");
          }
        });
    };
</script>
<script type="text/javascript">
    function actions(){
        var li = []
        var select = document.getElementById("select-actions");
        var value = select.value;
        if (value=="eliminar"){
            var a = document.querySelectorAll(".selected");
            console.log(a);
            for(var b in a){
              var c = a[b];
              if (c.checked){
                console.log(c.value);
                li.push(c.value);
              }
              
            }
        $.ajax({
            type: "GET",
            url: "/pagos/pagos_list/eliminar/",
            data: {
                "type": "eliminar",
                list_pagos: li
            },
        }).done(function(){
            swal("Listo");
            location.reload();
        });
        console.log("esta es li ", li);
        }
        
    }
</script>
<!--
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Crear Imei</h4>
    <form action="{%url 'rutas:crear_imei'%}" method="POST">{%csrf_token%}
        <div class="custom-modal-text">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label name="l_codigo" for="field-1" class="control-label">Código del dispositivo (IMEI)</label>
                            {{form.codigo}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label name="l_password" for="field-1" class="control-label">Contraseña</label>
                            {{form.password}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                        <input type="hidden" name="comunidad" value="{{request.user.comunidad.pk}}" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <a class="btn btn-secondary" href="">Cancelar</a>
                            <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>-->
<!--
<script>
    function cambiarestado(key){
        $.ajax({
            type: "GET",
            url: "/usuarios/estado/comunidad/",
            data: {
                "id_comunidad": key,
            },
        }).done(function(){
            // Agregamos los resultados al select
        });
    }
</script>-->
{%endblock%}
