{%extends "base/base.html"%}
{%block content%}
	<div class="wrapper b-wrapper">
        <div class="container-fluid">
        	<form action="{%url 'usuarios:crear_comunidad'%}" method="POST">{%csrf_token%}
	        	{{form.as_p}}
	        	<input type="submit" class="btn btn-primary" name="Guardar">
        	</form>
        </div>
    </div>
{%endblock%}