{%extends 'base/base.html'%}
{%block content%}
<div class="row">  
    <div class="col-12"> 
    	{% if messages %}
          	<ul class="messages">
	            {% for message in messages %}
	              <li class="{{ message.tags }}">{{ message }}</li>
	            {% endfor %}
          	</ul>
        {% endif %}
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
            	<h4 class="header-title pt-2 bs-text-primary">GESTION DE PERMISOS Y RUTAS PARA LA SECRETARIA : {{perfil.first_name}}</h4>
            </div>
        </div>
    </div>
    <div class="col-16 col-md-6">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">PERMISOS</h4>
            </div>
            <div class="card-body pt-2 pb-0 bs-bg-grey-">
                <div class="row">
                	{%for contenido in permisos_secre%}
                    <div class="col-10 bs-border-bottom-grey pt-1"> 
                	   <h6 class="bs-text-black">{{contenido.name}}</h6>
                    </div>
                    <div class="col-2 bs-border-bottom-grey text-right py-1">
                    	{% if contenido.codename in perfil.permisos %}
                        <input id="check" class="btn btn-primary" onchange="cambiarestado({{contenido.pk}}, {{perfil.pk}})" type="checkbox" data-plugin="switchery" data-color="#88F674" data-secondary-color="#ED5565" data-size="small" checked />
                        {% else %}
                        	<input id="check" class="btn btn-primary" onchange="cambiarestado({{contenido.pk}}, {{perfil.pk}})" type="checkbox" data-plugin="switchery" data-color="#88F674" data-secondary-color="#ED5565" data-size="small"/>
                        {%endif%}
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6">
    	<div class="card-box px-0 bs-border-primary">
	        <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
	            <h4 class="header-title pt-2 bs-text-primary">RUTAS</h4>
	        </div>
	        <div class="card-body pt-2 pb-0 bs-bg-grey-">
	            <div class="row">
	            	<form class="col-12 col-md-6" method="POST" action="{%url 'usuarios:rutas_secretaria' perfil.pk %}"> {%csrf_token%}
	                   {{form.as_p}}
	            		<input class="btn btn-primary" type="submit" name="Enviar" value="Guardar">
	            	</form>
                    <ul class="col-12 col-md-6">
                        {% for contenido in perfil.rutas.all %}
                            <li>{{contenido}}</li>
                        {% endfor %}
                    </ul>
	            </div>
	        </div>
	    </div>
	</div>
</div>

{%include "base/footer.html"%}
<script>
    function cambiarestado(permiso, usuario){
        $.ajax({
            type: "GET",
            url: "/usuarios/permisos/usuario/",
            data: {
                "id_permiso": permiso,
                "id_usuario": usuario, 
            },
        }).done(function(){
            // Agregamos los resultados al select
        });
    }
</script>
{%endblock%}