{%extends 'base/base.html'%}
{%block content%}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <div class="d-flex justify-content-between mb-3">
                <h4 class="m-t-0 header-title">Listado de Comunidades</h4>
                <a href="#custom-modal" class="btn btn-sm btn-primary waves-effect waves-light" data-animation="blur" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a"><i class="ti-user"></i> Crear Comunidad</a>
            </div>

            <table id="datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Creada</th>
                        <th>Nombre de Comunidad</th>
                        <th>Numero de Rutas</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {%if object_list%}
                        {%for contenido in object_list%}
                        <tr class="b-tr-td">
                            <td>
                                <div class="">
                                    <h5 class="m-0 p-0"><small class="b-font-weight-500">{{contenido.created}}</small></h5>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <h5 class="m-0 p-0"><small class="b-font-weight-500">{{contenido.nombre}}</small></h5>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <h5 class="m-0 p-0"><small class="b-font-weight-500">{{contenido.rutasPorComunidad}}</small></h5>
                                </div>
                            </td>
                            {%if not contenido.estado%}
                                <td class="b-td-acciones">  
                                    <input id="check" class="btn btn-primary" onchange="cambiarestado({{contenido.pk}})" type="checkbox" data-plugin="switchery" data-color="#88F674" data-secondary-color="#ED5565" data-size="small"/>
                                </td>
                            {%else%}
                                <td class="b-td-acciones">  
                                    <input id="check" class="btn btn-primary" onchange="cambiarestado({{contenido.pk}})" type="checkbox" data-plugin="switchery" data-color="#ED5565" data-secondary-color="#88F674" data-size="small"/>
                            {%endif%}
                        </tr>
                        {%endfor%}
                    {%endif%}
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end row -->
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">CREAR COMUNIDAD</h4>
    <form action="{%url 'usuarios:crear_comunidad'%}" method="POST">{%csrf_token%}
        <div class="custom-modal-text">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label name="nombre" for="field-1" class="control-label">Nombre</label>
                            {{form.nombre}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <a class="btn btn-secondary" href="">Cancelar</a>
                            <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{%include "base/footer.html"%}
<script>
    function cambiarestado(key){
        $.ajax({
            type: "GET",
            url: "/usuarios/estado/comunidad/",
            data: {
                "id_comunidad": key,
            },
        }).done(function(){
            // Agregamos los resultados al select
        });
    }
</script>
{%endblock%}
