{%extends 'base/base.html'%}
{%block content%}

<div class="row">
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Usuarios</h4>
                <a href="#custom-modal" class="btn btn-sm btn-primary waves-effect waves-light" data-animation="blur" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a"><i class="ti-user"></i> Crear Usuario</a>
                <!--<button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Crear Ruta</button>-->
            </div>

            <div class="table-responsive-md">
                <table id="datatable" class="table table-bordered table-sm dataTable">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>NickName</th>
                            <th>PrimerNombre</th>
                            <th>Comunidad</th>
                            <th>Roll</th>
                            <th>Logueo</th>
                            <th>Cambiar Contraseña</th>
                            <th>Gestion Permisos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if object_list%}
                            {%for contenido in object_list%}
                            <tr class="bs-table-sm">
                                <td align="center">{{contenido.username}}</td>
                                <td align="center">{{contenido.first_name}}</td>
                                <td align="center">{{contenido.comunidad}}</td>
                                <td align="center">
                                    {%if not contenido.is_staff%}
                                        {%if contenido.admin_comunidad%}
                                            Administrador Comunidad
                                        {%else%}
                                            {%if contenido.admin_secretaria%}
                                                Administrador Secretarias
                                            {%else%}
                                                Secretarias
                                            {%endif%}
                                        {%endif%}
                                    {%else%}
                                        Super Administrador
                                    {%endif%}
                                </td>
                                <td align="center">
                                    {%if request.user.pk != contenido.pk%}
                                        {%if not contenido.is_active%}
                                            <input id="check" class="btn btn-primary" onchange="cambiarestado({{contenido.pk}})" type="checkbox" data-plugin="switchery" data-color="#88F674" data-secondary-color="#ED5565" data-size="small"/>
                                        {%else%}
                                            <input id="check" class="btn btn-primary" onchange="cambiarestado({{contenido.pk}})" type="checkbox" data-plugin="switchery" data-color="#ED5565" data-secondary-color="#88F674" data-size="small"/>
                                        {%endif%}
                                    {%else%}
                                    {%endif%}
                                </td>
                                <td align="center" width="50px">
                                    <a title="Editar" href="{%url 'usuarios:editar_usuario' contenido.pk%}"> <i class="ti ti-pencil-alt bs-font-20 bs-text-primary px-2"></i></a>
                                </td>    
                                <td align="center" width="50px">
                                    {% if request.user.pk != contenido.pk and contenido.secretaria%}
                                    <a title="Gestionar Permisos" href="{% url 'usuarios:gestionar_usuario' contenido.pk %}"> <i class="ti ti-settings"></i> </a>
                                    {%endif%}
                                </td>
                            </tr>
                            {%endfor%}
                        {%endif%}
                    </tbody>
                </table>
            </div
        </div>
    </div>
</div> <!-- end row -->
<div id="custom-modal-editar" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">CREAR USUARIO ADMIN</h4>
    <form action="{%url 'usuarios:crear_usuarios_admin'%}" method="POST">{%csrf_token%}
        <div class="custom-modal-text">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label name="id_first_name1" for="field-12" class="control-label">Nombre</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label name="id_password11" for="field-12" class="control-label">Contraseña</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label name="id_password21" for="field-12" class="control-label">Confirmar Contraseña</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <a class="btn btn-secondary" href="">Cancelar</a>
                            <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{%if perms.usuarios.is_admincomunidad and not user.is_superuser%}
    <div id="custom-modal" class="modal-demo">
        <button type="button" class="close" onclick="Custombox.close();">
            <span>&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="custom-modal-title">CREAR USUARIO ADMIN</h4>
        <form action="{%url 'usuarios:crear_usuarios_admin'%}" method="POST">{%csrf_token%}
            <div class="custom-modal-text">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label name="id_first_name" for="field-1" class="control-label">Nombre</label>
                                {{form.first_name}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label name="id_username" for="field-1" class="control-label">Nick Name</label>
                                {{form.username}}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label name="id_username" for="field-1" class="control-label">Roll De Usuario</label>
                                {{form.status}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label name="id_password1" for="field-1" class="control-label">Contraseña</label>
                                {{form.password1}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label name="id_password2" for="field-1" class="control-label">Confirmar Contraseña</label>
                                {{form.password2}}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <a class="btn btn-secondary" href="">Cancelar</a>
                                <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{%else%}
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">CREAR USUARIO</h4>
    <form action="{%url 'usuarios:crear_usuarios'%}" method="POST">{%csrf_token%}
        <div class="custom-modal-text">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label name="id_first_name" for="field-1" class="control-label">Nombre</label>
                            {{form.first_name}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label name="id_username" for="field-1" class="control-label">Nick Name</label>
                            {{form.username}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label name="id_comunidad" for="field-1" class="control-label">Comunidad</label>
                            {{form.comunidad}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label name="id_username" for="field-1" class="control-label">Roll De Usuario</label>
                            {{form.status}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label name="id_password1" for="field-1" class="control-label">Contraseña</label>
                            {{form.password1}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label name="id_password2" for="field-1" class="control-label">Confirmar Contraseña</label>
                            {{form.password2}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <a class="btn btn-secondary" href="">Cancelar</a>
                            <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{%endif%}
{%include "base/footer.html"%}
<script>
    function cambiarestado(key){
        $.ajax({
            type: "GET",
            url: "/usuarios/estado/usuario/",
            data: {
                "id_usuario": key,
            },
        }).done(function(){
            // Agregamos los resultados al select
        });
    }
</script>

{%endblock%}