{%extends 'base/base.html'%}
{%block content%}
<div class="row">   
    <div class="col-12">
        <div class="card-box">
            <div class="title">
                <h4 class="m-t-0 header-title">Listado de Retiros</h4>
            </div>
            <hr class="">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>Fecha</th>
                        <th>Ruta</th>
                        <th>Valor</th>
                        <th>Depositado</th>
                        <th>User</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01/02/2018</td>
                            <td>Andres Arari</td>
                            <td>5000</td>
                            <td>Gustavo itau</td>
                            <td>Diana</td>
                        </tr>
                        <tr>
                            <td>04/09/2018</td>
                            <td>Camilo Xinfuara</td>
                            <td>10000</td>
                            <td>5000 Bey 5000 Rey</td>
                            <td>Lina</td>
                        </tr>
                        <tr>
                            <td>01/22/2019</td>
                            <td>Yesica Campo Maior</td>
                            <td>6000</td>
                            <td>Lina Brasil</td>
                            <td>Cindy</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}