{%extends "base/base.html"%}
{%block content%}
<div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">
                	EDITAR INVERSION
                </h4>
            </div>

            <form class="px-4" action="{%url 'retiros:editar_inversion' object.pk%}" method="POST">{%csrf_token%}
	        	{{form.as_p}}
	        	<a class="btn btn-success" href="{% url 'retiros:listar_inversiones' %}">Cancelar</a>
	        	<input type="submit" class="btn btn-primary" name="Guardar">
        	</form>
        </div>
    </div>
</div>
{%include "base/footer.html"%}
{%endblock%}