{%extends 'base/base.html'%}
{%block content%}
<div class="row">
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">FILTRAR POR FECHAS</h4>
            </div>

            <form class="px-3" action="{%url 'retiros:busqueda' 'transaccion'%}" name="periodo-form" method="GET">
                <div class="form-row">
                    <div class="col-12 col-md-4 col-lg-3">
                        <input type="date" class="form-control" name="inicio" placeholder="Fecha Inicio" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 py-3 py-md-0">
                        <input type="date" class="form-control" name="fin" placeholder="Fecha Fin" />
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="submit" value="Resumen" class="btn btn-primary waves-effect waves-light">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> <!-- end row -->

<div class="row">
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Inversiones</h4>
                <a href="#custom-modal" class="btn btn-sm btn-primary waves-effect waves-light" data-animation="blur" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a"><i class=""></i>Crear Inversion</a>
            </div>  
            
            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table id="datatable" class="table table-bordered table-sm dataTable table-hover">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>Ruta Destino</th>
                            <th>Valor</th>  
                            <th>Origen</th>
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th width="60px"></th>
                            <th width="60px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if object_list%}
                        {%for contenido in object_list%}
                        <tr class="b-tr-td">
                            <td align="center">{{contenido.ruta_destino}}</td>
                            <td align="center">{{contenido.valor}}</td>
                            {% if contenido.ruta_origen %}
                                <td align="center">{{contenido.ruta_origen}}</td>
                            {% else %} 
                                <td align="center">{{contenido.origen}}</td>   
                            {% endif %}    
                            <td align="center">{{contenido.created.date}}</td>
                            <td align="center">{{contenido.usuario.get_full_name}}</td>
                            <td width="50px" align="center">
                                <a title="Editar" href="{%url 'retiros:editar_inversion' contenido.pk %}"> <i class="ti ti-pencil-alt bs-font-20 bs-text-primary px-2"></i></a>
                            </td>
                            <td width="50px" align="center">
                                <a title="Eliminar" href="#" onclick="eliminar({{contenido.pk}})"> <i class="ti ti-trash bs-font-20 bs-text-primary px-2"></i></a>
                            </td>
                        </tr>
                        {%endfor%}
                    {%endif%}
                    </tbody>
                </table>
            </div>
            <!-- End table responsive -->    
        </div>
    </div>
</div> <!-- end row -->

{%include "base/footer.html"%}
<script type="text/javascript">
    function eliminar(pk){
    swal({
          title: "Estas seguro que quieres eliminar??",
          text: "Si eliminas este registro se eliminara todo en cadena, relaciones que esten asociadas a este retiro!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Su objeto ha sido eliminado!", {
            icon: "success",
            });
            window.location.replace("/retiros/eliminar/"+pk);
          } else {
            swal("Ok!");
          }
        });
    };
</script>
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Crear Inversion</h4>
    <form action="{%url 'retiros:crear_inversion'%}" method="POST">{%csrf_token%}
        <div class="custom-modal-text">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label name="1_ruta" for="field-1" class="control-label">Rutas Destino</label>
                            {{form.ruta_destino}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label name="l_valor" for="field-1" class="control-label">Cantidad a depositar</label>
                            {{form.valor}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label name="l_cuenta_bancaria" for="field-1" class="control-label">De que ruta viene?</label>
                            {{form.ruta_origen}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label name="l_cuenta_bancaria" for="field-1" class="control-label">O de que origen?</label>
                            {{form.origen}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="display:none;">
                            <label name="l_password" for="field-1" class="control-label">Usuario</label>                           
                            <select name="usuario" id="id_usuario">
                              <option value="{{request.user.pk}}" selected="">{{request.user}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <a class="btn btn-secondary" href="">Cancelar</a>
                            <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--
<script>
    function cambiarestado(key){
        $.ajax({
            type: "GET",
            url: "/usuarios/estado/comunidad/",
            data: {
                "id_comunidad": key,
            },
        }).done(function(){
            // Agregamos los resultados al select
        });
    }
</script>-->
{%endblock%}
a