{%extends 'base/base.html'%}
{%block content%}

<div class="row">
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Ventas Activas</h4>
                {%if object_list%}
                    <h4 class="pt-2 header-title bs-text-primary">Ruta : <a href="{%url 'clientes:listar_clientes' object_list.first.cliente_ruta.ruta.pk %}">{{object_list.first.cliente_ruta.ruta}}</a></h4>
                {%endif%}
            </div>

            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table id="datatable" class="table table-bordered table-sm dataTable table-hover">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Venta</th>
                            <th>Info</th>
                            <th>Total</th>
                            <th>Saldo</th>
                            <th>Dias</th>
                            <th>Fecha Ult. Pago</th>
                            <th>Valor Ult. Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%if object_list%}
                        {%for contenido in object_list %}
                        <!-- Error class bd-table-sm -->
                        <tr class="bs-table-s">
                            <td width="50" align="center">{{contenido.pk}}</td>
                            <td align="center">
                            <i class="far fa-circle" style="border-radius: 10px; background-color: {{contenido.categoria_venta}};color:{{contenido.categoria_venta}}"></i><a href="{%url 'pagos:listar_pagos' contenido.pk %}">{{contenido.cliente_ruta.pk}} - {{contenido.cliente_ruta.cliente.full_name}}</a></td>
                            <td align="center">{{contenido.created}}</td>
                            <td align="center">{{contenido.valor}}</td>
                            <td align="center">{{contenido.interes}}% a {{contenido.cuotas}} dias</td>
                            <td align="center">{{contenido.valor_venta_interes}}</td>
                            <td align="center">{{contenido.saldo}}</td>
                            <td align="center">{{contenido.dias}}</td>
                            <td align="center">{{contenido.ultimo_pago.created}}</td>
                            <td align="center">{{contenido.ultimo_pago.valor}}</td>
                        </tr>
                        {%endfor%}
                    {%endif%}
                    </tbody>
                </table>
            </div>
            <!-- End table responsive -->
        </div>    
    </div>
</div> <!-- end row -->
{%include "base/footer.html"%}
<!--<script>
    function cambiarestado(key){
        $.ajax({
            type: "GET",
            url: "/rutas/estado/",
            data: {
                "id_ruta": key,
            },
        }).done(function(){
            // Agregamos los resultados al select
            console.log("True");
        });
    }
</script>-->

{%endblock%}