{%extends 'base/base.html'%}
{%block content%}

<div class="row">
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Ventas</h4>
                {%if object_list%}
                    <h4 class="pt-2 header-title bs-text-primary">Ruta : <a href="{%url 'clientes:listar_clientes' object_list.first.cliente_ruta.ruta.pk %}">{{object_list.first.cliente_ruta.ruta}}</a> Cliente : <a href="">{{object_list.first.cliente_ruta.pk}} - {{object_list.first.cliente_ruta.cliente.full_name}}</a></h4>
                {%endif%}
            </div>

            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table id="datatable" class="table table-bordered table-sm dataTable table-hover">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Venta</th>
                            <th>Info</th>
                            <th>Total</th>
                            <th>Saldo</th>
                            <th>Dias</th>
                            <th>L</th>
                            {% if perms.usuarios.gestionar_pagos %} 
                                <th>C</th>
                            {% endif %}
                            {% if perms.usuarios.crear_ventas %}
                                <th>ED</th>
                            {% endif %}
                            <th>EL</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%if object_list%}
                        {%for contenido in object_list %}
                        <!-- Error class bd-table-sm -->
                        <tr class="bs-table-s">
                            <td width="50" align="center">{{contenido.pk}}</td>
                            <td align="center">
                            <i class="far fa-circle" style="border-radius: 10px; background-color: {{contenido.categoria_venta}};color:{{contenido.categoria_venta}}"></i>{{contenido.cliente_ruta.pk}} - {{contenido.cliente_ruta.cliente.full_name}}</td>
                            <td align="center">{{contenido.created}}</td>
                            <td align="center">{{contenido.valor}}</td>
                            <td align="center">{{contenido.interes}}% a {{contenido.cuotas}} dias</td>
                            <td align="center">{{contenido.valor_venta_interes}}</td>
                            <td align="center">{{contenido.saldo}}</td>
                            <td align="center">{{contenido.dias}}</td>
                            <td align="center">
                                <a title="Listar Pagos" href="{%url 'pagos:listar_pagos' contenido.pk%}"><i class="ti ti-agenda bs-text-primary bs-font-20 px-2"></i></a>
                            </td>
                            {% if perms.usuarios.gestionar_pagos %}   
                                <td align="center">
                                    <a onclick="pk_modelo({{contenido.caja.caja_actual.pk}}, {{contenido.pk}}, {{contenido.saldo}}, {{contenido.cuota}})" href="#custom-modal" title="Gestionar Pago" data-animation="blur" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a"><i class="ti ti-save-alt bs-text-primary bs-font-20 px-2"></i> </a>
                                </td>
                            {% endif %}
                            {% if perms.usuarios.crear_ventas %}
                                <td align="center">
                                    <a title="Editar" class="py-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top" href="{%url 'ventas:actualizar_venta' contenido.pk %}"><i class="ti ti-pencil-alt bs-text-primary bs-font-20 px-2"></i></a>
                                </td>
                            {% endif %} 
                            <td align="center">     
                                <a title="Eliminar" href="#" onclick="eliminar({{contenido.pk}})"><i class="ti ti-trash bs-text-primary bs-font-20 px-2"></i></a>
                            </td>  
                            <!--{%if contenido.caja.pk == contenido.caja.caja_actual.pk %}-->
                            <!--{%endif%}-->
                        </tr>
                        {%endfor%}
                    {%endif%}
                    </tbody>
                </table>
            </div>
            <!-- End table responsive -->
        </div>    
    </div>
</div> <!-- end row -->
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Crear Pago</h4>
    <form action="{%url 'pagos:gestionar_pago'%}" method="POST">{%csrf_token%}
        <div class="custom-modal-text">
            <div class="modal-body">
                <div class="row">
                    <div id="venta_info" class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div id= class="form-group">
                            <label name="id_valor" for="field-1" class="control-label">Valor a pagar</label>
                            {{form.valor}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label name="id_tipo_pago" for="field-1" class="control-label">Tipo de pago</label>
                            {{form.tipo_pago}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="motivo_taps" style="display: none;" class="form-group">
                            <label name="id_motivo" for="field-1" class="control-label">Motivo de no pago</label>
                            {{form.motivo}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{form.venta}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{form.caja}}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <a class="btn btn-secondary" href="">Cancelar</a>
                            <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
{%include "base/footer.html"%}
<script type="text/javascript">
    function eliminar(pk){
    swal({
          title: "Estas seguro que quieres eliminar??",
          text: "Si eliminas este registro se eliminara todo en cadena, relaciones que esten asociadas a esta ruta!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Su objeto ha sido eliminado!", {
            icon: "success",
            });
            window.location.replace("/ventas/eliminar/"+pk);
          } else {
            swal("Ok!");
          }
        });
    };
</script>
<!--<script>
    function cambiarestado(key){
        $.ajax({
            type: "GET",
            url: "/rutas/estado/",
            data: {
                "id_ruta": key,
            },
        }).done(function(){
            // Agregamos los resultados al select
            console.log("True");
        });
    }
</script>-->

{%endblock%}