{%extends "base/base.html"%}
{%block content%}
<div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">
                    {% if object %}
                    Editar Cliente
                    {% else %}
                    Crear Cliente
                    {% endif %}
                </h4>
            </div>

            {%if object%}
            <form class="px-4" action="{%url 'clientes:editar_cliente' object.pk ruta%}" method="POST">{%csrf_token%}
            {%else%}
            <form class="px-4" action="{%url 'clientes:crear_cliente'%}" method="POST">{%csrf_token%}
            {%endif%}
                {{form.as_p}}
                <a class="btn btn-success" href="#">Cancelar</a>
                <input type="submit" class="btn btn-primary" value="Guardar">
            </form>
        </div>
    </div>
</div>
{%include "base/footer.html"%}
{%endblock%}