{%extends 'base/base.html'%}
{%block content%}

<div class="row">
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Clientes - Ruta {{object_list.first.ruta}}</h4>
                <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Crear Cliente</button>
            </div>
            
            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table id="datatable" class="table table-bordered table-sm dataTable table-hover">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>Alias</th>
                            <th>Fecha Ult. Venta</th>
                            <th>Valor Ult. Venta</th>
                            <th>Info</th>
                            <th>Valor Neto</th>
                            <th>Dias Demorados</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%if object_list%}
                        {%for contenido in object_list %}
                        {%if contenido.sin_venta_activa%}
                        <!-- Error class bd-table-sm -->
                            <tr class="bs-table-s">
                                <td width="50" align="center">{{contenido.pk}} </td>
                                <td align="center"><a href="{%url 'ventas:listar_ventas' contenido.pk %}">{{contenido.cliente}}</a></td>
                                <td align="center">{{contenido.cliente.alias}}</td>
                                <td align="center">{{contenido.ultima_venta.created}}</td>
                                <td align="center">{{contenido.ultima_venta.valor}}</td>
                                <td align="center">{{contenido.ultima_venta.interes}}% a {{contenido.ultima_venta.cuotas}} dias</td>
                                <td align="center">{{contenido.ultima_venta.valor_venta_interes|floatformat:2}}</td>
                                <td align="center">{{contenido.ultima_venta.dias}}</td>
                            </tr>
                        {%endif%}
                        {%endfor%}
                    {%endif%}
                    </tbody>
                </table>
            </div>
            <!-- End table responsive -->    
        </div>
    </div>
</div> <!-- end row -->

{%include "base/footer.html"%}
{%endblock%}
