{%extends 'base/base.html'%}
{%block content%}

<div class="row">
    <div class="col-12">
        <div class="card-box px-0 bs-border-primary">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">Listado de Clientes - Ruta {{object_list.first.ruta}}</h4>
                {% if perms.usuarios.crear_clientes %}
                    <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Crear Cliente</button>
                {% endif %}
            </div>

            <!--<div class="px-5">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por Codigo..." title="Type in a name">
            </div>-->
            
            <!-- Inicio table responsive -->
            <div class="table-responsive-md">
                <table id="datatable" class="table table-bordered table-sm dataTable table-hover">
                    <thead class="bs-bg-light bs-text-primary text-center">
                        <tr> 
                            <th>ID</th>
                            <th>Cliente</th>
                            <th>Alias</th>
                            {% if perms.usuarios.inactivar_clientes %}
                                <th>EST</th>
                            {% endif %}
                            <th>List</th>
                            {% if perms.usuarios.crear_ventas %}
                                <th>Crear</th>
                            {% endif %}
                            <th>EDV</th>
                            {% if perms.usuarios.eliminar_clientes %}
                                <th>ELV</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {%if object_list%}
                        {%for contenido in object_list %}
                        <!-- Error class bd-table-sm -->
                        <tr class="bs-table-s">
                            <td width="50" align="center">{{contenido.pk}} </td>
                            <td align="center">{{contenido.cliente}}</td>
                            <td align="center">{{contenido.cliente.alias}}</td>
                            {% if perms.usuarios.inactivar_clientes %}
                                <td align="center">
                                    {%if not contenido.activo%}
                                        <input id="check" class="btn btn-primary" onchange="cambiarestado({{contenido.pk}})" type="checkbox" data-plugin="switchery" data-color="#ED5565" data-secondary-color="#88F674" data-size="small" checked />
                                    {%else%}
                                        <input id="check" class="btn btn-primary" onchange="cambiarestado({{contenido.pk}})" type="checkbox" data-plugin="switchery" data-color="#ED5565" data-secondary-color="#88F674" data-size="small" />
                                    {%endif%}
                                </td>
                            {% endif %}
                            <td width="50px" align="center">
                                <a title="Listar Venta" href="{%url 'ventas:listar_ventas' contenido.pk %}"> <i class="ti ti-agenda bs-font-20 bs-text-primary px-2"></i></a>
                            </td>
                            {% if perms.usuarios.crear_ventas %}
                                <td width="50px" align="center">
                                    {%if not contenido.ventas_activas %}
                                        <button onclick="pk_modelo({{contenido.pk}})" type="button" class="btn btn-btn" data-toggle="modal" data-target="#con-close-modal-venta" title="Crear Venta"> <i class="ti ti-save bs-font-20 bs-text-primary px-2"></i></button>
                                    {%endif%}
                                </td>
                            {% endif %}
                            <td width="50px" align="center">
                                <a title="Editar" href="{%url 'clientes:editar_cliente' contenido.cliente.pk contenido.ruta.pk%}"> <i class="ti ti-pencil-alt bs-font-20 bs-text-primary px-2"></i></a>
                            </td>
                            {% if perms.usuarios.eliminar_clientes %}
                            <td width="50px" align="center">
                                <a title="Eliminar" href="#" onclick="eliminar({{contenido.pk}})"> <i class="ti ti-trash bs-font-20 bs-text-primary px-2"></i></a>
                            </td>
                            {% endif %}
                        </tr>
                        {%endfor%}
                    {%endif%}
                    </tbody>
                </table>
            </div>
            <!-- End table responsive -->    
        </div>
    </div>
</div> <!-- end row -->

<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Crear Cliente</h4>
                <!-- <a class="btn btn-rounded btn-outline-primary" href="{% url 'rutas:crear_imei' %}" target="_self">Crear Imei</a> -->
            </div>
            <form action="{%url 'clientes:crear_cliente'%}" method="POST">{%csrf_token%}
                <div class="custom-modal-text">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Nombre</label>
                                    {{form.nombre}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Apellido</label>
                                    {{form.apellido}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">CPF</label>
                                    {{form.cpf}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Alias</label>
                                    {{form.alias}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Direccion</label>
                                    {{form.direccion}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label name="nombre" for="field-1" class="control-label">Celular</label>
                                    {{form.celular}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="hidden" name="ruta" value="{{id_ruta}}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group no-margin">
                                    <a class="btn btn-secondary" href="">Cancelar</a>
                                    <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->

<div id="con-close-modal-venta" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Crear Venta</h4>
                <!-- <a class="btn btn-rounded btn-outline-primary" href="{% url 'rutas:crear_imei' %}" target="_self">Crear Imei</a> -->
            </div>
            <form action="{%url 'ventas:crear_venta'%}" method="POST">{%csrf_token%}
                <div class="custom-modal-text">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{form2}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group no-margin">
                                    <a class="btn btn-secondary" href="">Cancelar</a>
                                    <input type="submit" name="Guardar" value="Guardar" class="btn btn-primary" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->
{%include "base/footer.html"%}

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("datatable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

<script>
    function cambiarestado(key){
        $.ajax({
            type: "GET",
            url: "/clientes/estado/",
            data: {
                "id_cliente": key,
            },
        }).done(function(){
            // Agregamos los resultados al select
            console.log("True");
        });
    }
</script>
<script type="text/javascript">
    function pk_modelo(pk){
        document.getElementById("id_id_cliente_ruta").value = pk;
        console.log(pk);

    }
</script>
<script type="text/javascript">
    function eliminar(pk){
    swal({
          title: "Estas seguro que quieres eliminar??",
          text: "Si eliminas este registro se eliminara todo en cadena, relaciones que esten asociadas a este cliente!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Su objeto ha sido eliminado!", {
            icon: "success",
            });
            window.location.replace("/clientes/eliminar/"+pk);
          } else {
            swal("Ok!");
          }
        });
    };
</script>
{%endblock%}
