{%extends "base/base.html"%}
{%block content%}
<div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <div class="card-box px-0 bs-border-primary">
            <div class="d-flex justify-content-between mb-3 bs-bg-grey-light card-header rounded-0 bs-border-y-primary">
                <h4 class="header-title pt-2 bs-text-primary">
                    {% if object %}
                    Editar movimiento
                    {% endif %}
                </h4>
            </div>

            {%if object%}
            <form class="px-4" action="{%url 'movimientos:editar_movimiento' object.pk%}" method="POST">{%csrf_token%}
            {%endif%}
                {{form.as_p}}
                <a class="btn btn-success" href="#">Cancelar</a>
                <input type="submit" class="btn btn-primary" value="Guardar">
            </form>
        </div>
    </div>
</div>
{%include "base/footer.html"%}
<script type="text/javascript">
    function get_opciones(){
        var tipoId = $("#id_tipo_movimiento").text();
        tipoId = $('select[name="tipo_movimiento"] option:selected').text()

                    // Eliminamos las opciones anteriores del select
                    var request = $.ajax({
                        type: "GET",
                        url: "/movimientos/opcion",
                        data: {
                            "id_tipo_movi": tipoId,
                        },
                    });
                    request.done(function(response) {
                        // Agregamos los resultados al select
                        $("#id_opcion").html(response.opc);
                        $("#id_opcion").trigger("change");
                    });
    }
</script>
{%endblock%}